.App {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    --navheight: 4rem;
    --maincontainer: calc(100vh - var(--navheight));
    background-color: var(--color-grey);
  
  
      /* GLOBAL COLORS */
      --color-black: #111517;
      --color-grey: #F2F2F2;
      --color-white: #fff;
  }
  
 