* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}


.main_header {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
}

.main_subheader {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.main_text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.row {
    display: flex;
    gap: 1rem;
}

.country_header {
    font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 44px;
}

